.accordion-item {
    border: 2px solid #e4cd9e !important;
}

.accordion-item:not(.collapsed) {
    border: none !important;
}


.accordion-button {
    border: 2px solid #e4cd9e !important;
}

.accordion-button:not(.collapsed){
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #e4cd9e !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: inherit;
    outline: 0;
    box-shadow: none;
}